*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
}

.container{
    width: 1000px;
    font-size: 18px;
    line-height: 1.3;
    text-indent: 20px;
    font-family: "PT_Root_UI",Arial,sans-serif;
}

.container img{
    display: block;
    margin: 0 auto;
    width: 500px;
}

@media (max-width: 1300px) {
    .container{
        min-width: 80%;
    }
}